####### General
#Google Environment
prefix       = "CHANGE_THIS!!!"
gcp-project  = ""
gcp-region   = ""
gcp-zone     = ""
gcp-svc-acct = "" #use your service account with the email format

####### Part 1
#Part 1 - BIG-IP
bigip-passwd   = ""

####### Part 2
#Part 2 - App Forwarding Rules
app-target-instance = "" #Get this from Part 1 output
app-target-network  = "" #Get this from Part 1 output

#Part 2 - Server Compute Engine
server-network    = "" #Get this from Part 1 output
server-subnetwork = "" #Get this from Part 1 output

####### Part 3
#Part 3 - BIG-IP
bigip-address = "" #Get this from Part 1 output

#Part 3 - AS3
app-address   = ""        #Get this from Part 2 output
app-node-ip   = ""        #Get this from Part 2 output
