#General
#Google Environment
prefix      = ""
gcp-project = ""
gcp-region  = ""
gcp-zone    = ""

#App
app-target-instance = ""
app-target-network  = ""

#Server
server-machine    = ""
server-image      = ""
server-network    = ""
server-subnetwork = ""

#Tags
tag-environment = ""
tag-owner       = ""
tag-group       = ""
tag-application = "YOUR_PREFIX-app"
