#BIG-IP
bigip-address = ""
bigip-admin  = "admin"
bigip-passwd = ""

#App
app-address  = ""
app-node-ip  = ""
app-tenant    = ""
app-name      = ""
app-tag       = ""
app-region    = ""
app-node-port = "8000"
