#General
#Google Environment
prefix       = "DEMO"
gcp_project  = ""
gcp_region   = "southamerica-east1"
gcp_zone     = "southamerica-east1-a"
gcp_svc_acct = ""

# BIG-IP
bigip_passwd = ""
bigip_timezone = "America/Recife"

# Logstash
logstash-ts-host  = ""

# ElasticSearch
es-host     = ""
es-username = ""
es-password = ""

# Labels
tag_environment = "demo"
tag_owner       = "demo"
tag_group       = "aot"