#General
#Google Environment
prefix       = "DEMO"
gcp_project  = ""
gcp_region   = ""
gcp_zone     = ""
gcp_svc_acct = ""

#Server
server_machine    = ""
server_image      = ""

# BIG-IP
bigip_passwd   = ""
bigip_image    = ""
bigip_machine  = ""
bigip_timezone = ""

# Logstash
logstash-waf-host = ""
logstash-ts-host  = ""

# ElasticSearch
es-host     = ""
es-username = ""
es-password = ""

# Labels
tag_environment = ""
tag_owner       = ""
tag_group       = ""