#General
#Google Environment
prefix       = "DEMO"
gcp_project  = ""
gcp_region   = ""
gcp_zone     = ""
gcp_svc_acct = ""

#Server
server_machine    = ""
server_image      = ""

# BIG-IP
bigip_passwd   = ""
bigip_image    = "projects/f5-7626-networks-public/global/images/f5-bigip-16-1-2-2-0-0-28-payg-best-plus-25mbps-220505080809"
bigip_machine  = "n2-standard-8"
bigip_timezone = "UTC"

# Labels
tag_environment = ""
tag_owner       = ""
tag_group       = ""